// Used in layout
$padding-1: 1px ;
$padding-4: 0.25rem ;
$padding-8: 0.5rem ;
$padding-16: 1rem ;

$font-size-base: 16px ;
$font-size-12: 0.75rem ;
$font-size-14: 0.875rem ;
$font-size-16: 1rem ;

$border-radius: $padding-4 ;

// Grayscale
$white: #ffffff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #868e96 ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black: #000 ;

$color-link: #05b ;
$color-visited-link: #8440f1 ;

$body-background: white ;
$body-font-color: $black ;
$body-font-weight: normal ;

$body-min-width: 20rem ;
$container-max-width: 80rem ;

$header-height: 3.5rem ;
$menu-width: 16rem ;
$toc-width: 16rem ;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width ;

// Hint colors
$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66
) ;

$icon-filter: none ;
