$darkcode: (
  content-code-color: #fcfcfa,
  content-pre-color: #eee,
  content-pre-number-color: #666,
  content-pre-background-color: #2A2C37,
  content-pre-header-background-color: #1D1E26,
  content-pre-border-background-color: #595B5C,
  content-pre-header-color: #FCFCFA,
);