$dark: (
  link: $dark-link-color,
  link-hover: $dark-link-hover-color,
  body-color: #FCFCFA,
  hr-color: #595B5C,
  title-color: #FCFCFA,
  subtitle-color: darken(#FCFCFA, 5%),
  border-line-color: rgba(243, 242, 241, 0.1),
  active-font-color: $dark-active-font-color,
  body-background-color: #2D2A2E,
  back-background-color: #212121,
  navbar-background-color: #403E41,
  navbar-hover-background-color: rgba(225,225,225,0.4),
  navbar-logo-color: $dark-nav-logo-color,
  navbar-menu-color: $dark-nav-menu-color,
  navbar-icon-color: $dark-nav-icon-color,
  search-border-active-color: #424242,
  search-border-outline-color: rgba(166, 166, 166, 0.45),
  search-background-color: lighten(#403E41, 5%),
  search-placeholder-color: #999,
  search-content-background-color: lighten(#403E41, 5%),
  search-hover-background-color: #403E41,
  search-hover-border-color: #403E41,
  search-border-color: #383838,
  search-highlight-color: #FF6188,
  custom-scrollbar-foreground-color: #888,
  custom-scrollbar-background-color: #eee,
  dropdown-hover-background-color: #727072,
  dropdown-background-color: #595B5C,
  dropdown-item-active-background-color: #424242,
  menu-arrow-color: #FCFCFA,
  pagination-color: #FCFCFA,
  toc-color: #aaa,
  banner-background-color: darken(#212121, 3%),
  landing-button-primary: $dark-active-font-color,
  landing-button-default: #ccc,
  pagination-link-color: #82aaff,
  pagination-disabled-color: #757575,
  pagination-number-color: #FCFCFA,
  breadcrumb-background-color: #2D2A2E,
  single-hr-background-color: #727072,
  single-blockquote-border-color: #FCFCFA,
  single-contents-title-color: #ccc,
  single-header-title-background-color: #212121,
  single-contents-subtitle-color: #FCFCFA,
  expand-background-color: darken(#2D2A2E, 2%),
  expand-background-color-hover: #212121,
  tag-num-background-color: #595B5C,
  tag-text-background-color: #595B5C,
);