$light: (
  link: $light-link-color,
  link-hover: $light-link-hover-color,
  body-color: #242729,
  hr-color: #bdbdbd,
  title-color: #424242,
  subtitle-color: darken(#424242, 5%),
  border-line-color: rgba(12, 13, 14, 0.1),
  active-font-color: $light-active-font-color,
  body-background-color: #fff,
  back-background-color: #f7f8f9,
  navbar-background-color: #fafafa,
  navbar-hover-background-color: rgba(225,225,225,0.4),
  navbar-logo-color: $light-nav-logo-color,
  navbar-menu-color: $light-nav-menu-color,
  navbar-icon-color: $light-nav-icon-color,
  search-border-outline-color: rgba(207, 216, 220, 0.6),
  search-border-active-color: #b0bec5,
  search-background-color: #fff,
  search-placeholder-color: #aaa,
  search-content-background-color: #f1f1f1,
  search-hover-background-color: #eaeaea,
  search-hover-border-color: #addafc,
  search-border-color: #e0e0e0,
  search-highlight-color: #FF6188,
  custom-scrollbar-foreground-color: #cfd8dc,
  custom-scrollbar-background-color: #FCFCFA,
  dropdown-hover-background-color: rgba(225,225,225,0.4),
  dropdown-background-color: #fff,
  dropdown-item-active-background-color: #e0e0e0,
  menu-arrow-color: #535a61,
  pagination-color: #535a61,
  toc-color: #919191,
  banner-background-color: #eee,
  landing-button-primary: $light-active-font-color,
  landing-button-default: #535a61,
  pagination-link-color: #424242,
  pagination-background-color: #eee,
  pagination-disabled-color: #bdbdbd,
  pagination-number-color: #757575,
  breadcrumb-background-color: #fff,
  single-hr-background-color: #bdbdbd,
  single-blockquote-border-color: #bdbdbd,
  single-header-title-background-color: #eee,
  single-contents-title-color: #607d8b,
  expand-background-color: #f7f8f9,
  expand-background-color-hover: darken(#f7f8f9, 3%),
  tag-num-background-color: #bdbdbd,
  tag-text-background-color: #eee,
);