.alert {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.125rem;

    @include themify($themes) {
        &-info {
            background-color: rgba(215, 238, 249, 0.4);
            color: themed('body-color');

            &[data-dir="rtl"] {
                border-right: 5px solid #bbdefb;
            }

            &[data-dir="ltr"] {
                border-left: 5px solid #bbdefb;
            }
        }

        &-success {
            background-color: rgba(217, 239, 214, 0.4);
            color: themed('body-color');

            &[data-dir="rtl"] {
                border-right: 5px solid #c8e6c9;
            }

            &[data-dir="ltr"] {
                border-left: 5px solid #c8e6c9;
            }
        }

        &-warning {
            background-color: rgba(255, 249, 196, 0.4);
            color: themed('body-color');

            &[data-dir="rtl"] {
                border-right: 5px solid #ffeb3b;
            }

            &[data-dir="ltr"] {
                border-left: 5px solid #ffeb3b;
            }
        }

        &-danger {
            background-color: rgba(245, 221, 221, 0.4);
            color: themed('body-color');

            &[data-dir="rtl"] {
                border-right: 5px solid #ffcdd2;
            }

            &[data-dir="ltr"] {
                border-left: 5px solid #ffcdd2;
            }
        }
    }
}
