$enable-navbar: {{ .Param "enableNavbar" }};

$title-font: {{ .Site.Data.font.title_font }};
$content-font: {{ .Site.Data.font.content_font }};

$dark-active-font-color: {{ .Site.Data.color.dark_active_font_color }};
$dark-link-color: {{ .Site.Data.color.dark_link_color }};
$dark-link-hover-color: {{ .Site.Data.color.dark_link_hover_color }};
$dark-nav-logo-color: {{ .Site.Data.color.dark_nav_logo_color }};
$dark-nav-menu-color: {{ .Site.Data.color.dark_nav_menu_color }};
$dark-nav-icon-color: {{ .Site.Data.color.dark_nav_icon_color }};

$light-active-font-color: {{ .Site.Data.color.light_active_font_color }};
$light-link-color: {{ .Site.Data.color.light_link_color }};
$light-link-hover-color: {{ .Site.Data.color.light_link_hover_color }};
$light-nav-logo-color: {{ .Site.Data.color.light_nav_logo_color }};
$light-nav-menu-color: {{ .Site.Data.color.light_nav_menu_color }};
$light-nav-icon-color: {{ .Site.Data.color.light_nav_icon_color }};

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/flexbox';

@import 'syntax/syntax';

@import 'base/reset';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';
@import 'base/animation';

@import 'components/menu';
@import 'components/toc';
@import 'components/search';
@import 'components/dropdown';
@import 'components/drawer';
@import 'components/modal';
@import 'components/language';
@import 'components/breadcrumb';
@import 'components/pagination';
@import 'components/button';
@import 'components/summary';
@import 'components/expand';
@import 'components/bgcolor';
@import 'components/tag';
@import 'components/section';
@import 'components/lib';
@import 'components/switch';
@import 'components/notice';
@import 'components/alert';

@import 'layout/grid';
@import 'layout/footer';
@import 'layout/header';
@import 'layout/main';
@import 'layout/navbar';

@import 'pages/home';
@import 'pages/single';
@import 'pages/list';
@import 'pages/blog';